extends layout

block content
  .container
    .display-4.text-center Welcome to the coloc :)
    h1 Work in progress... 
    .alert.alert-primary acces à la liste 
      a(href="/list") ici
      |  (c'est le seul truc qui marche pour l'instant...)
