extends layout
  
block content

  //- Content start here

  h1.text-center.py-md-3  Coucou

  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
  script(src="/javascripts/shoplistpage.js" type="text/javascript")