//-mixin form for the list add submit

mixin formModal(id, title)
  .modal.fade(id=id tabindex='-1' role='dialog' aria-labelledby=id+'Title' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5(id=id+"LongTitle" class="modal-title")=title
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form
            .form-group
              label(for='InputName') Nom du truc
              input#InputName.form-control(type='text' aria-describedby='nomHelp' placeholder='Met le nom là')
              small#nomhelp.form-text.text-muted Franchement si t'y arrives pas...
            .form-group
              label(for='InputQuantite') Quantité
              input#InputQuantite.form-control(type='text' placeholder='Quantite')
            button.btn.btn-primary(id="SubmitAddForm" type='button' data-dismiss='modal') Ajoutey
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Ferme
